.main {
  max-width: 45%;
  margin: auto;
}

#title {
  font-size: 2.5em;
  text-align: center;
  line-height: 1.6;
}

#description {
  font-size: 1em;
  text-align: center;
}

input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  /* display: block; */
  border: 1px solid blue;
}

#submit {
  width: 40%;
  padding: 14px 20px;
  margin: 0 auto;
  border: 1px solid blue;
  /* display: block; */
}
